#admin {
  height: 100%;

  .menu {
    border-right: none;
  }
  .header {
    text-align: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
  }
}
#admin-content {
  height: 100%;
}
.admin-aside {
  background-color: #304156;
}
.avatar-container {
  display: flex;
  align-items: center;
  height: 60px;
}
.user-avatar {
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.table-expand label {
  width: 90px;
  text-align: center !important;
  color: #99a9bf;
}
.delBtn {
  color: red;
}
.btnContainer {
  text-align: right;
  margin: 0;
}
