body,
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.float-left {
  float: left;
}

.clearfix:after {
  content: '.';
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}

#map {
  height: 100%;
}

#msg {
  width: 450px;
  height: 400px;
  padding: 10px;
  overflow: scroll;
}

#title-container h1:first-of-type {
  margin-right: 18px;
}

#img-container img {
  width: 430px;
  height: auto;
}
